<%- include('partials/header.ejs') %>

<div class="container" id="finish">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <div class="display-2">ส่งคำตอบแล้ว</div>
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer.ejs') %>

